@model MatchesGame.Models.GameViewModel

@{
    ViewBag.Title = "Index";

    var gameTypeList = new List<SelectListItem>
    {
        new SelectListItem { Text = "Two Players", Value = "2" },
        new SelectListItem { Text = "Single Player", Value = "1" }
    };
    
}

<h2>Matches Game</h2>


<div class="col-md-8">
    <div class="row">
        @using (Html.BeginForm())
        {
            <form>            
                <div class="form-group">
                    @Html.LabelFor(m => m.GameType, "Game Type")
                    @Html.DropDownListFor(m => m.GameType, gameTypeList, "Select Game Type", new { @class = "form-control" })

                    @Html.LabelFor(m => m.PlayerOne, "First Player")
                    @Html.TextBoxFor(m => m.PlayerOne, new { @class = "form-control" })

                    @Html.LabelFor(m => m.PlayerTwo, "Second Player")
                    @Html.TextBoxFor(m => m.PlayerTwo, new { @class = "form-control" })
                </div>
            
                <button type="submit" class="btn btn-default">Start</button>
            </form>
        }
    </div>
</div>
